*{
  font-family: Arial, Helvetica, sans-serif;
}
  .header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #526488;
  }
  .header .title {
    font-size: 2rem;
    font-weight: bolder;
    color: #526488;
  }
  .header ul {
    display: flex;
  }
  .header a {
    display: inline-block;
    background: #526488;
    color: white;
    padding: 0.3rem 1rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
  }
  .header p{
    margin-top: 1.3rem;
    font-weight: bold;
    color: #03112c;
  }
 
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    font-family:
      Verdana,
      Arial,
      sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }
  
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
  
  .links {
    padding-top: 15px;
  }
  .sighting {
    padding: 1rem;
    border: 1px dotted #526488;
    margin: 1rem 0;
  }
  .sightingTitle {
    font-size: 22px;
  }
  
  .sighting a {
    color: blue;
    text-decoration: underline;
    text-underline-position: below;
  }